#root {
  margin: 3rem 0;
  text-align: right;
  width: 40%;
}


.bottom-spacing {
  margin-bottom: 5rem;
}

.glow { 
  animation: glow 3s infinite alternate;
}

.right {
  position: relative;
  right: -100%;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  fill: gray;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #fff;
  }
  to {
    text-shadow: 0 0 30px #fff;
  }
}
